.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero div {
    position: absolute;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.hero a {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
